*{
  background-color: white;
  color: black;
  font-family: cy, sans-serif;
  font-weight: 600;
  font-style: normal;
  
}

.section_1{
  background-color: #f1f5ff;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.section_2{
  background-color: #45B8AC;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.section_3{
  background-color: #34568B;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.section_4{
  background-color: #FF6F61;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.navbar{
  display: flex;
  flex-direction: row;
  float: right;
  margin: 1%;
  background:none;
  
}



.navbar_element{
  font-size: 120%;
  margin: 5px;
  background:none;
  font-weight: 800;
  text-decoration: none;

}

.navbar_element_white{
  font-size: 120%;
  margin: 5px;
  background:none;
  font-weight: 800;
  text-decoration: none;
  color: white;

}


.navbar_element:hover{
  color:#217ae6;

}

.navbar_element_white:hover{
  color:#000000;

}

.banner{
  float:left;
  background: none;
  margin: 1%;
  font-size: 200%;
  text-decoration: none;
  color: #34568B;

}

.banner_text{
  background: none;
  text-decoration: none;
  color: #34568B;

}

.banner_text_white{
  background: none;
  text-decoration: none;
  color: #ffffff;

}

.welcome{
  background: none;
  font-size: 600%;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 40%;
  margin: 10px;
  left: 40%;

}

.index_link{
  background: none;
  text-decoration: none;

}


.index_h{
  background: none;
  color: white;
  margin-top: 15%;
  margin-right: 5%;
  font-size: 400%;
  text-align: right;

}


.index_p{
  background: none;
  color: white;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}




.review_section{
  background-color:#0072B5;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}


.review_title_h{
  background: none;
  color: white;
  margin-top: 15%;
  margin-right: 5%;
  font-size: 400%;
  text-align: right;

}


.review_title_p{
  background: none;
  color: white;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}

.review_section_2{
  background-color:#5294b3;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.review_p{
  background: none;
  color: white;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}



.review_section_3{
  background-color:#DB4437;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.review_image{
  margin-top: 15%;
  margin-left: 5%;
  border-radius: 5px;
  width: 25%;
  height: auto;
  position: absolute;

}

.review_p_image{
  background: none;
  margin-left: 46%;
  margin-top: 20%;
  padding-right: 10%;
  padding-left: 10%;
  color: white;
  position: absolute;
  font-size: 150%;

}





.advice_section{
  background-color:#006B54;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}


.advice_title_h{
  background: none;
  color: white;
  margin-top: 15%;
  margin-right: 5%;
  font-size: 400%;
  text-align: right;

}


.advice_title_p{
  background: none;
  color: white;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}

.advice_section_2{
  background-color:#034F84;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.advice_p{
  background: none;
  color: white;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}



.list_section{
  background-color:#00758F;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.list_title{
  background: none;
  color: white;
  font-size: 400%;
  margin-top: 26%;
  margin-right: 5%;
  text-align: right;

}




.list_section_2{
  background-color:rgb(187, 55, 55);
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.list_flex{
  display: flex;
  flex-direction: row;
  grid-row: 20% 80% 20%;
  gap: 2%;
  margin-top: 18%;
  background: none;
  margin-left: 5%;

}

.list_number{
  background: none;
  font-size: 1500%;
  margin-top: -1%;
  color: white;

}


.list_media{
  background: none;
  border-radius: 5px;
  margin-top: 5;

}

.list_text{
  background: none;
  margin-top: 8%;
  color: white;

}

.list_link{
  text-decoration: none;
  background: none;
  color: white;

}

.list_section_3{
  background-color:#1B4D3E;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}



.list_section_4{
  background-color:#1CAC78;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.list_section_5{
  background-color:#6082B6;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}

.list_section_6{
  background-color: #E23D28;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}


.about_section{
  background-color:#E15D44;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}


.about_section_2{
  background-color:#34568B;
  width: 94%;
  height: 96%;
  margin: 2%;
  opacity: 75%;
  border-radius: 5px;
  overflow: hidden;

}


.about_map{
  margin-top: 15%;
  border-radius: 5px;
  position: absolute;

}

.about_h_map{
  background: none;
  margin-top: 20%;
  margin-left: 60%;
  padding-left: 5%;
  color: white;
  font-size: 164%;
  text-decoration: underline;
  position: absolute;

}

.about_p_map{
  background: none;
  margin-left: 60%;
  margin-top: 25%;
  padding-left: 5%;
  color: white;
  position: absolute;

}

.about_link_email{
  background: none;
  text-decoration: none;
  color: white;
  font-size: 100%;

}

.about_link{
  background: none;
  text-decoration: none;
  color: white;
  font-size: 100%;

}


.about_h{
  background: none;
  color: white;
  margin-top: 15%;
  margin-right: 5%;
  font-size: 400%;
  text-align: right;

}


.about_p{
  background: none;
  color: white;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 30%;
  text-align:right ;
  font-size: 150%;

}

